@import "../../styles/variaveis";
@import "../../styles/breakpoints";

.conteiner{
  @apply w-11/12 mt-7;
}

.servicos{
  @apply flex mt-7 flex-col;
  @media screen and (min-width: $tablet) {
    @apply w-full;
  }
  &__titulos{
    @apply flex flex-row mb-2;
  }
  &__titulo{
    @apply text-verdeLoud text-lg font-bold;
    @media screen and (min-width: $desktop_xl) {
      @apply text-3xl;
    }
  }
  &__titulo2{
    @apply text-white text-lg mx-1 flex flex-row items-start;
    @media screen and (min-width: $desktop_xl) {
      @apply text-3xl;
    }
  }
}

.servicos__conteudo{
  @apply flex flex-col;
  @media screen and (min-width: $desktop_md) {
    @apply items-center;
  }
  &__conteiner{
    @apply flex flex-col items-center;
    @media screen and (min-width: $tablet) {
      @apply flex-row justify-around items-center h-[20rem] w-full;
    }
    @media screen and (min-width: $desktop_md) {
      @apply h-[30rem] max-w-[1100px] items-center;
    }
    &__cards{
      @apply flex flex-col items-center text-center bg-cinzaClaro text-black p-1 my-2 rounded-lg drop-shadow-md w-4/5;
      @media screen and (min-width: $tablet) {
        @apply w-44 h-56 mx-1;
      }
      &__titulos{
        @apply text-lg font-bold py-1;
      }
      &__icon{
        @apply w-20 h-20;
      }
    }
  }
  &__cabecalho__desktop{
    @apply hidden;
    @media screen and (min-width: $tablet) {
      @apply flex flex-col items-center;
    }
  }
  &__titulo__desktop{
    @apply text-white w-full text-lg text-center;
    @media screen and (min-width: $desktop_md) {
      @apply text-3xl h-14;
    }
  }
  &__destaque__desktop{
    background-image: url("../../images/splash2.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @apply mx-1 px-2 py-2 text-black;
    @media screen and (min-width: $desktop_md) {
      background-size: cover;
      @apply text-3xl h-14;
    }
  }
  &__cabecalho{
    @apply flex flex-col text-xl text-center;
    @media screen and (min-width: $tablet) {
      @apply hidden;
    }
  }
  &__titulo{
    @apply text-white w-60;
    @media screen and (min-width: $tablet) {
      @apply w-1/2;
    }
  }
  &__destaque{
    background-image: url("../../images/splash2.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @apply mx-1 px-2 py-2 text-black;
  }
  &__modelo__cont__desktop{
    @apply hidden;
    @media screen and (min-width: $tablet) {
      background-image: url("../../images/10030610.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
      @apply flex flex-col items-center w-full h-full;
    }
  }
  &__modelo__box{
    @apply flex flex-col items-center;
    @media screen and (min-width: $tablet) {
      @apply flex-row;
    }
  }
  &__modelo__cont{
    @apply flex flex-col items-center;
    @media screen and (min-width: $tablet) {
      @apply hidden;
    }
  }
  &__modelo{
    @apply w-56 h-80;
  }
}

p{
  @apply text-center
}