@import "../../styles/variaveis";
@import "../../styles/breakpoints";


.home{
  @apply max-w-[1600px] flex flex-col items-center w-full my-16;
  &__loading{
    @apply h-[90vh] w-[100vw] text-center flex flex-col justify-around items-center;
  }
  &__perfil{
    background-image: url("../../images/starlight2.jpg");
    background-repeat: no-repeat;
    background-size: 110vw 100%;
    background-position: center;
    transition: ease-out 0.5s;
    @apply w-[100vw] -mt-4;
  }
  &__sobre{
    @apply my-4  w-[100vw] bg-black;
  }
  &__skills{
    background-image: url("../../images/vectteezy.png");
    background-size: 70%;
    background-position: bottom right;
    background-repeat: no-repeat;
    @apply my-4 bg-black w-[100vw] flex justify-center;
    @media screen and (min-width: $tablet) {
      background-size: contain;
    }
  }
  &__presenca{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(7,77,132,1) 12%);
    @apply my-4 w-[100vw] flex justify-center;
  }
  &__projetos{
    @apply my-4 bg-black w-full;

  }
  &__empresas{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(7,77,132,1) 12%);
    @apply w-[100vw] flex flex-col items-center justify-center py-2;
    &__in{
      background-image: url("../../images/hand.png"), url("../../images/brain.png");
      background-size: 50%;
      background-position: left bottom, right 10%;
      background-repeat: no-repeat;
      @apply flex flex-col items-center -mb-2;
      @media screen and (min-width: $tablet) {
        background-size: 25%;
      }
    }
  }
}

// .home__perfil:hover{
//   background-position: center right;
// }

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.inview-block {
  display: flex;
  min-height: 25vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #148bb4;
  color: azure;
}
