@import "../../styles/variaveis";
@import "../../styles/breakpoints";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");


@media screen and (max-width: 2000px) {
  /* Defina um valor adequado para o tamanho máximo */
  .projetos {
    /* Adicione as propriedades necessárias para ajustar o layout */
    max-width: 1600px;
    margin: 0 auto;
  }
}


.projetos{
  @apply flex flex-col w-11/12 my-7;
  &__titulos{
    @apply flex flex-row mb-2;
  }
  &__titulo{
    @apply text-verdeLoud text-lg font-bold;
    @media screen and (min-width: $desktop_xl) {
      @apply text-3xl;
    }
  }
  &__titulo2{
    @apply text-white text-lg mx-1;
    @media screen and (min-width: $desktop_xl) {
      @apply text-3xl;
    }
  }
  &__item{
    @apply flex h-[70vw] flex-col bg-green-700 border-2 border-blue-100 rounded-md cursor-pointer my-4;
    &:hover{
      @apply border-verdeLoud;
    }
    &__imagem{
      @apply h-full w-80;
    }
    &__elementos__conteiner{
        @apply hidden;
    }
    &__elementos__conteinerPrincipal{
      @apply rounded-t-lg py-1 flex flex-col items-center animate-fadeinDown;
      @media screen and (min-width: 800px) {
        @apply hidden;
      }
    }
    &__titulo{
      font-family: "Michroma", sans-serif;
      text-shadow: 4px 2px 6px #2B130C;
      @apply z-20 px-2 text-base text-verdeLoud font-bold ;
      @media screen and (min-width: 800px) {
        @apply text-2xl py-2;
      }
    }
    &__tag{
      @apply flex flex-row text-center self-end;
      &__icon{
        @apply mx-2 w-12 h-7 border-2 rounded-md ;
      }
      &__iconPrincipal{
        @apply mx-2 w-12 h-7 border-2 rounded-md ;
      }
    }
  }
}

.projetos__links__conteiner{
  @apply rounded-b-lg py-1 flex flex-row animate-fadeInUp justify-end;
  @media screen and (min-width: 800px) {
    @apply hidden;
  }
}

.projetos__links__item{
  @apply mx-1 flex flex-row justify-center items-center border-2 rounded-md  h-8 w-24;
  &:hover{
    @apply border-2 border-verdeLoud rounded-md cursor-pointer w-24 text-verdeLoud bg-black;
  }
  @media screen and (min-width: 800px) {
    @apply justify-evenly h-10 w-24;
  }
  &__icon{
    @apply h-6 w-6 mr-1;
  }
}


.principal:hover .projetos__links__conteiner{
  @media screen and (min-width: 801px) {
    @apply flex flex-row justify-end;
  }
}

.principal:hover .projetos__item__elementos__conteinerPrincipal{
  @media screen and (min-width: 801px) {
    @apply flex flex-col items-center;
  }
}


.conteiner{
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 20px; /* Ajuste a quantidade de padding conforme necessário */
  pointer-events: all;
  @apply  max-w-[1300px] h-full w-full m-auto py-16 px-4 relative flex flex-col items-center;
  @media screen and (min-width: 670px) {
    pointer-events: all;
    &:hover .botaoLeft{
      @apply block;
    }
    &:hover .botaoRight{
      @apply block;
    }
  }
  }

.conteinerFotos{
  scroll-snap-type: x mandatory;
  @apply flex flex-row relative w-[90vw] items-center;
  @media screen and (min-width: 2000px) {
    @apply w-[375px] h-[420px] w-full;
  } 
}

.image{
  flex: 0 0 auto;
  scroll-snap-align: center;
  @apply w-[300px] h-[250px] rounded-2xl bg-center bg-cover duration-500 flex flex-col-reverse border-2 mx-1 animate-fadeinDown;
  @media screen and (min-width: 670px) {
    @apply h-[330px];
  }
  @media screen and (min-width: 950px) {
    @apply h-[430px];
  }
  @media screen and (min-width: 1050px) {
    @apply w-[550px] h-[410px];
  }
  @media screen and (min-width: 2000px) {
    @apply w-[375px] h-[350px];
  } 
}

.imageLeft{
  flex: 0 0 auto;
  scroll-snap-align: center;
  @apply w-[300px] h-[250px] rounded-2xl bg-center bg-cover duration-500 flex flex-col-reverse border-2 mx-1 animate-fadeInLeft;
  @media screen and (min-width: 670px) {
    @apply h-[330px];
  }
  @media screen and (min-width: 950px) {
    @apply h-[430px];
  }
  @media screen and (min-width: 1050px) {
    @apply w-[550px] h-[410px];
  }
  @media screen and (min-width: 2000px) {
    @apply w-[375px] h-[350px];
  } 
}

.primeiro{
  @apply -ml-72;
  @media screen and (min-width: 470px) {
    @apply -ml-60;
  }
  @media screen and (min-width: 500px) {
    @apply -ml-52;
  }
  @media screen and (min-width: 670px) {
    @apply -ml-60;
  }
  @media screen and (min-width: 700px) {
    @apply -ml-56;
  }
  @media screen and (min-width: 800px) {
    @apply -ml-56;
  }
  @media screen and (min-width: 1000px) {
    @apply -ml-60;
  }
  @media screen and (min-width: 1050px) {
    @apply -ml-[30rem];
  }
  @media screen and (min-width: 1200px) {
    @apply -ml-96;
  }
  @media screen and (min-width: 1300px) {
    @apply -ml-[23rem];
  }
  @media screen and (min-width: 1400px) {
    @apply -ml-[20rem];
  }
  @media screen and (min-width: 1600px) {
    @apply -ml-[15rem];
  }
  @media screen and (min-width: 1700px) {
    @apply -ml-[13rem];
  }
  @media screen and (min-width: 1800px) {
    @apply -ml-[9rem];
  }
  @media screen and (min-width: 1900px) {
    @apply -ml-[6rem];
  }
  @media screen and (min-width: 2000px) {
    @apply -ml-[0];
  }
}

.principal{
  flex: 0 0 auto;
  scroll-snap-align: center;
  @apply w-[300px] h-[270px] rounded-2xl bg-center bg-cover duration-500 flex flex-col justify-between border-2 border-verdeLoud ;
  @apply transition-all;
  @media screen and (min-width: 410px) {
    @apply w-[350px] h-[290px];
  }
  @media screen and (min-width: 670px) {
    @apply w-[470px] h-[380px];
  }
  @media screen and (min-width: 700px) {
    @apply w-[550px] h-[410px];
  }
  @media screen and (min-width: 850px) {
    @apply border-white w-[600px] h-[410px];
    &:hover{
      @apply border-verdeLoud;
    }
  }
  @media screen and (min-width: 950px) {
    @apply w-[720px] h-[510px];
  }
  @media screen and (min-width: 1050px) {
    @apply w-[800px] h-[550px];
  }
  @media screen and (min-width: 1600px) {
    @apply w-[840px] h-[600px];
  }
  @media screen and (min-width: 2000px) {
    @apply w-[510px] h-[410px];
  }
}

// .botaoLeft{
//   @apply hidden  absolute top-[50%] -translate-x-0 translate-y-[50%] left-5 text-2xl rounded-full p-2 bg-black/20 text-white cursor-pointer;
// }

.botaoLeft{
  pointer-events: all;
  @apply block absolute top-[40%] -translate-x-0 translate-y-[40%] left-5 text-2xl rounded-full p-2 bg-verdeLoud/70 text-black cursor-pointer;
  @media screen and (min-width: $tablet) {
    @apply hidden;
  }
}

.botaoRight{
  pointer-events: all;
  @apply block bg-verdeLoud/70 absolute top-[40%] -translate-x-0 translate-y-[40%] right-5 text-2xl rounded-full p-2 text-black cursor-pointer;
  @media screen and (min-width: $tablet) {
    @apply hidden;
  }
}

.pontos{
  pointer-events: all;
  @apply flex top-4 justify-center py-2;
  &__icons{
    @apply text-verdeLoud animate-fadeInLeft;
  }
  &__pontos{
    @apply text-2xl cursor-pointer;
  }
}

.react {
  @apply border-metallicSeaweed text-metallicSeaweed; 
}

.js {
  @apply border-yellow-700 text-yellow-700; 
}

.ts {
  @apply border-blue-700 text-blue-700;
}

.html {
  @apply border-orange-700 text-orange-700; 
}

.css {
  @apply border-pink-200 text-pink-200; 
}

.node{
  @apply  border-green-700 text-green-700; 
}

.sass{
  @apply border-pink-600 text-pink-600; 
}

.tailwind{
  @apply border-cyan-600 text-cyan-600; 
}

.mongodb{
  @apply border-green-400 text-green-400; 
}

.mysql{
  @apply border-blue-900 text-blue-900; 
}

.python{
  @apply bg-gradient-to-r from-yellow-500 to-blue-500; 
}

.loading::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px
}

.anima{
  @apply animate-pulse;
}

.projetos2{
  @apply flex flex-col w-11/12 my-7 animate-fadeinDownSlow;
  @media screen and (max-width: 2000px) {
    max-width: 1600px;
    margin: 0 auto;
  }
}
