@import "../../styles/variaveis";
@import "../../styles/breakpoints";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");


@media screen and (max-width: 2000px) {
  /* Defina um valor adequado para o tamanho máximo */
  .projetos {
    /* Adicione as propriedades necessárias para ajustar o layout */
    max-width: 1600px;
    margin: 0 auto;
  }
}


.projetos{
  @apply flex flex-col max-w-[1600px] w-11/12 my-7;
  &__titulos{
    @apply flex flex-row mb-2;
  }
  &__titulo{
    @apply text-verdeLoud text-lg font-bold;
    @media screen and (min-width: $desktop_xl) {
      @apply text-3xl;
    }
  }
  &__titulo2{
    @apply text-white text-lg mx-1;
    @media screen and (min-width: $desktop_xl) {
      @apply text-3xl;
    }
  }
  &__conteiner{
    @apply  max-w-[1300px] h-full w-full m-auto relative flex flex-col items-center justify-around z-10;
    &__itens{
      @apply max-w-[1190px] m-2 p-2 flex flex-col justify-around items-center;
      @media screen and (min-width: $tablet) {
        @apply flex-row flex-wrap;
      }
      &__item{
        @apply flex flex-col justify-around items-center;
        @media screen and (min-width: $tablet) {
          @apply w-80;
        }
        @media screen and (min-width: $desktop_md) {
          @apply w-96;
        }
        @media screen and (min-width: $desktop_xl) {
          @apply w-96;
        }
        
      }
      &__box{
        @apply bg-white p-1 m-3 rounded-md;
        &__in{
          overflow: hidden;
          @apply h-60 w-64 m-1 p-1;
          &__img:hover{
            object-position: bottom center;
          }
        }
      }
    }
    &__link{
      @apply cursor-pointer bg-verdeLoud w-11/12 text-center hover:bg-white text-black font-semibold py-2 px-4 hover:border-transparent rounded mb-8;
      @media screen and (min-width: $desktop_xl) {
        @apply w-9/12;
      }
    }
  }
}

.projetos__conteiner__itens__box__in img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  transition: all 2s ease-in-out;
}

.projetos__conteiner__itens__box__in:hover img{
  object-position: bottom center;
}



.react {
  background-image: url("../../images/skills/react.svg");
  @apply bg-no-repeat cursor-pointer bg-contain bg-center animate-spinSlow; 
}

.js {
    background-image: url("../../images/skills/javascript.svg");
  @apply bg-no-repeat cursor-pointer bg-contain bg-center;
    &:hover{
    @apply animate-flip;
  }
}

.ts {
    background-image: url("../../images/skills/typescript.svg");
  @apply bg-no-repeat cursor-pointer bg-contain bg-center;
    &:hover{
    @apply animate-flip;
  }
} 

.html {
    background-image: url("../../images/skills/html5.svg");
  @apply bg-no-repeat cursor-pointer bg-contain bg-center;
    &:hover{
    @apply animate-flip;
  }
}

.css {
    background-image: url("../../images/skills/css3.svg");
  @apply bg-no-repeat cursor-pointer bg-contain bg-center;
    &:hover{
    @apply animate-flip;
  }
}

.node{
    background-image: url("../../images/skills/nodejs.svg");
  @apply bg-no-repeat cursor-pointer bg-contain bg-center;
    &:hover{
    @apply animate-flip;
  } 
}

.sass{
    background-image: url("../../images/skills/sass.svg");
  @apply bg-no-repeat cursor-pointer bg-contain bg-center;
    &:hover{
    @apply animate-flip;
  }
}

.tailwind{
    background-image: url("../../images/skills/tailwindcss.svg");
  @apply bg-no-repeat cursor-pointer bg-contain bg-center;
    &:hover{
    @apply animate-flip;
  } 
}

.mongodb{
    background-image: url("../../images/skills/mongodb.svg");
  @apply bg-no-repeat cursor-pointer bg-contain bg-center;
    &:hover{
    @apply animate-flip;
  }  
}

.mysql{
    background-image: url("../../images/skills/mysql.svg");
  @apply bg-no-repeat cursor-pointer bg-contain bg-center;
  &:hover{
    @apply animate-flip;
  } 
}

.python{
    background-image: url("../../images/skills/python.svg");
  @apply bg-no-repeat cursor-pointer bg-contain bg-center;
  &:hover{
    @apply animate-flip;
  }
}

.loading::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px
}
