@import "../../../styles/variaveis";
@import "../../../styles/breakpoints";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

.empresasItens {
  position: relative;
}

.linha__vertical {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: white; /* Cor da linha vertical */
}

.experiencia__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
}

.experiencia__item {
  display: flex;
  align-items: flex-start;
  margin: 2px;
  width: 43%;
  height: 40%;
}

.esquerda {
  flex-direction: row-reverse;
}

.direita {
  flex-direction: row;
  margin-top: 9rem;
}

.circulo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red; /* Cor do círculo */
  margin-right: 10px;
}

.conteudo {
  color: white; /* Cor do conteúdo (empresa, cargo, período) */
}
