@import "../../../styles/variaveis";
@import "../../../styles/breakpoints";

.empresasItens {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.linha__vertical {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
}

.experiencia__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experiencia__item {
  display: flex;
  align-items: center;
  margin: 20px;
  position: relative;
}

.circulo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.conteudo {
  display: none;
}

.conteudo__vazio {
  display: none;
}

.conteudo__esquerda {
  text-align: center;
  margin-right: 10px;
}

.conteudo__direita {
  text-align: center;
  margin-left: 10px;
}

.esquerda {
  justify-content: flex-start;
  width: 300px;

  @media screen and (min-width: $tablet) {
    width: 400px;
  }
}

.direita {
  justify-content: flex-end;
  width: 300px;

  @media screen and (min-width: $tablet) {
    width: 400px;
  }
}

.ativa .circulo {
  background-color: blue;
}

.ativa .conteudo {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
}

.esquerda .teste {
  @apply flex flex-row
}

.direita .teste {
  @apply flex flex-row-reverse
}

.conteudo__vazio {
  @apply bg-white
}